@import url('https://api.fontshare.com/css?f[]=general-sans@700&display=swap');

:root {
    --cream: white;
    --black: hsl(20, 3%, 19%);
    --blue-dark: #005497;
    --blue-medium: hsl(210, 70%, 55%);
    --orange: hsl(210, 70%, 35%);
    --blue-light-1: hsl(210, 70%, 56%);
    --blue-light-2: hsl(210, 70%, 78%);
    --blue-light-3: hsl(210, 70%, 88%);
    --stripe-deg: -90deg;
    --ff: 'General Sans', sans-serif;
}

html {
    font-family: var(--ff);
    font-size: 100%;
    block-size: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    padding: 5vw;
    display: grid;
    place-items: center;
    color: var(--black);
    margin: 0;
}

header {
    background-color: #ffffff;
    color: black;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 6px 15px #0a4575;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.logo img {
    height: 40px;
    width: auto;
}

.exit {
    margin-right: 20px;
}

.exit i {
    font-size: 28px;
    color: black;
    cursor: pointer;
}

#navbar {
    display: flex;
    justify-content: center;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#navbar ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}

#navbar ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #005497;
    font-weight: bold;
}

#navbar ul li a:hover {
    background-color: #005497;
    color: white;
    border-radius: 10px;
}

#navbar ul li ul li a:hover {
    background-color: white;
    color: gray;
}

#navbar a {
    font-size: 18px;
}

.content {
    padding-top: 160px;
}

.title-container {
    text-align: center;
    margin-top: 60px;
    color: black;
}

h1 {
    font-size: clamp(1rem, 3vw, 4rem);
    text-transform: uppercase;
    line-height: 1;
    display: grid;
    gap: 1px 0;
    grid-template-columns: repeat(4, 4ch);
    position: relative;
}

h1::before,
h1::after {
    --stripe-deg: 90deg;
    content: "";
    position: absolute;
    width: 8ch;
    height: 4ch;
    background: linear-gradient(var(--stripe-deg), var(--blue-dark), var(--blue-dark) 20%, var(--orange) 20%, var(--orange) 40%, var(--blue-medium) 40%, var(--blue-medium) 60%, var(--blue-light-1) 60%, var(--blue-light-1) 80%, var(--blue-light-2) 80%);
}

h1::before {
    background: linear-gradient(var(--stripe-deg), var(--blue-dark), var(--blue-dark) 20%, var(--orange) 20%, var(--orange) 40%, var(--blue-medium) 40%, var(--blue-medium) 60%, var(--blue-light-1) 60%, var(--blue-light-1) 80%, var(--blue-light-2) 80%);
    animation: colorChange 4s infinite;
    top: -4ch;
    right: 0;
    clip-path: polygon(0 50%, 20% 50%, 20% 20%, 40% 20%, 40% 40%, 60% 40%, 60% 0, 80% 0, 80% 60%, 100% 60%, 100% 100%, 0 100%);
}

h1::after {
    background: linear-gradient(var(--stripe-deg), var(--blue-dark), var(--blue-dark) 20%, var(--orange) 20%, var(--orange) 40%, var (--blue-medium) 40%, var(--blue-medium) 60%, var(--blue-light-1) 60%, var(--blue-light-1) 80%, var(--blue-light-2) 80%);
    animation: colorChange 4s infinite;
    bottom: -4ch;
    left: 0;
    clip-path: polygon(0 0, 0 40%, 20% 40%, 20% 60%, 40% 60%, 40% 40%, 60% 40%, 60% 80%, 80% 80%, 80% 30%, 100% 30%, 100% 100%, 100% 0);
}

.stripes-top,
.stripes-bottom {
    background: linear-gradient(var(--stripe-deg), var(--blue-dark), var(--blue-dark) 20%, var(--orange) 20%, var(--orange) 40%, var(--blue-medium) 40%, var(--blue-medium) 60%, var(--blue-light-1) 60%, var(--blue-light-1) 80%, var(--blue-light-2) 80%);
    animation: colorChange 4s infinite;
}

@keyframes colorChange {
    0% {
        background: linear-gradient(var(--stripe-deg), var(--blue-dark), var(--blue-dark) 20%, var(--orange) 20%, var(--orange) 40%, var(--blue-medium) 40%, var(--blue-medium) 60%, var(--blue-light-1) 60%, var(--blue-light-1) 80%, var(--blue-light-2) 80%);
    }

    20% {
        background: linear-gradient(var(--stripe-deg), var(--orange), var(--orange) 20%, var(--blue-medium) 20%, var(--blue-medium) 40%, var(--blue-light-1) 40%, var(--blue-light-1) 60%, var(--blue-light-2) 60%, var(--blue-light-2) 80%, var(--blue-light-3) 80%);
    }

    40% {
        background: linear-gradient(var(--stripe-deg), var(--blue-light-1), var(--blue-light-1) 20%, var(--blue-light-2) 20%, var(--blue-light-2) 40%, var(--blue-light-3) 40%, var(--blue-light-3) 60%, var(--blue-dark) 60%, var(--blue-dark) 80%, var(--orange) 80%);
    }

    80% {
        background: linear-gradient(var(--stripe-deg), var(--blue-medium), var(--blue-medium) 20%, var(--blue-light-1) 20%, var(--blue-light-1) 40%, var(--blue-light-2) 40%, var(--blue-light-2) 60%, var(--blue-light-3) 60%, var(--blue-light-3) 80%, var(--blue-dark) 80%);
    }

    100% {
        background: linear-gradient(var(--stripe-deg), var(--blue-dark), var(--blue-dark) 20%, var(--orange) 20%, var(--orange) 40%, var(--blue-medium) 40%, var(--blue-medium) 60%, var(--blue-light-1) 60%, var(--blue-light-1) 80%, var(--blue-light-2) 80%);
    }
}

.stripes-top {
    grid-column: 3 / 5;
}

.stripes-bottom {
    grid-column: 1 / 3;
    grid-row: 3;
}

.artisan {
    font-size: 1.5em;
    grid-column: 1 / 5;
    grid-row: 2;
    margin-top: 12px;
}

.society {
    font-size: 0.8em;
    text-indent: 0.15em;
    grid-column: 3 / 5;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #ffffff;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar .btn-close {
    background: none;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    color: #005497;
    /* Colore dell'icona */
    position: absolute;
    top: 10px;
    /* Posizione dell'icona dall'alto */
    right: 10px;
    /* Posizione dell'icona dalla destra */
}

.sidebar #navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 50px;
}

.sidebar #navbar ul {
    display: block;
}

.sidebar #navbar ul li {
    display: block;
    margin: 10px 0;
}

.sidebar #navbar ul li a {
    color: #005497;
}

.sidebar-toggle {
    display: none;
}

.sidebar-toggle .btn {
    background-color: transparent;
    /* Imposta lo sfondo trasparente */
    color: #005497;
    /* Colore del testo */
    border: none;
    /* Rimuove il bordo */
}

.sidebar-toggle .btn:hover {
    background-color: transparent;
    color: #007bff;
}

.btn-secondary.dropdown-toggle,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
.dropdown-menu,
.dropdown-item,
.btn-secondary.dropdown-toggle:hover,
.btn-secondary.dropdown-toggle:focus,
.btn-secondary.dropdown-toggle:active {
    background-color: white;
    color: #005497;
    border: none;
}


/* Media query for smaller screens */
@media (max-width: 992px) {

    .logo img {
        height: 25px;
        width: auto;
    }

    #navbar ul li a:hover {
        background-color: white;
    }

    #navbar ul li {
        font-size: 15px;
    }

    .content {
        padding-top: 100px;
    }

    #navbar {
        display: none;
    }

    .sidebar-toggle {
        display: block;
    }

    .exit {
        display: none;
    }

    .sidebar {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    .logo img {
        height: 30px;
        width: auto;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
   
    .logo img {
        height: 30px;
        width: auto;
    }
  }